
body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 60px;
  color:   #74b6cc ;
  margin-top: 0px;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  
}
h2{
  color:   #74b6cc ;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color:   #74b6cc ;
  font-family: 'Montserrat', sans-serif;
}

div{
background-color:  white;
 
}
img{
  position: relative;

}
.top-cloud{
  position: absolute;
 right: 800px;
 top: 50px;
}
.bottom-cloud{
  position: absolute;
margin-left: 200px;
margin-bottom:300px ;
}
.top-container{
background-color: #A6DCEF;
position: relative;
padding-top: 100px;
}
.middle-container{
background-color: ;
}
.botom-contaimer{

}
.soft-skills{
  width: 150px;
  height: 150px;
  float: right;
  margin-right: 15px;
 
}
.tech-skills{
  width: 150px;
  height: 150px;
  float:  left;
  margin-right: 30px;
  
}
a{
  color:   #74b6cc;
}
.p1{
  font-weight: normal;
  color:   #74b6cc;
  font-size: 22px;
}
.skill-row{
  width: 50%;
  margin: auto;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}