
body{
  margin: 0px;
  text-align: center;
  color: #333a39;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 60px;
  color:   #74b6cc ;
  margin-top: 0px;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  
}
h2{
  color:   #74b6cc ;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color:   #74b6cc ;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}

div{
background-color:  ;
 
}
img{
  position: relative;

}
hr{
  border: dotted rgb(245, 186, 237) 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
.top-cloud{
  position: absolute;
 right: 800px;
 top: 50px;
}
.intro{
  width: 170px;
  margin: auto;
}
.bottom-cloud{
  position: absolute;
margin-left: 200px;
margin-bottom:300px ;
}
.top-container{
background-color: #A6DCEF;
position: relative;
padding-top: 100px;
}
.middle-container{
background-color:white ;
margin:100px auto 100px auto ;
}
.bottom-container{
  background-color: #A6DCEF;
 padding-bottom: 10px;
 padding-top: 20px;

 line-height: 3;
}
.soft-skills{
  width: 120px;
  height: 120px;
  float: right;
  margin-right: 15px;
 
}
.tech-skills{
  width: 120px;
  height: 120px;
  float:  left;
  margin-right: 30px;
  
}
a{
  color:   #74b6cc;
  font-family: 'Montserrat', sans-serif; 
  margin:10px 20px ;
  text-decoration: none;
 

}
a:hover{
  color: rgb(245, 186, 237);
}
.p1{
  font-weight: normal;
  color:   #74b6cc;
  font-size: 22px;
}
.skill-row{
  width: 50%;
  margin: auto;
  margin: 70px auto 100px auto;
  text-align: left;
  
}
.pdot{
 font-size: 40px;
 color:  rgb(245, 186, 237);
}
.p3{
  color:whitesmoke;
}
.contact-massage{
  width: 26%;
  margin: 100px auto 100px auto;
}
